[pull]
	rebase = true
[user]
	email = federico.santander@bci.cl
	name = Federico Santander
[core]
	editor = nvim
	excludesfile = /Users/federico.santander/.gitignore-global
	untrackedCache = true
[alias]
	co = checkout
	ci = commit
	st = status
