[pull]
	rebase = true
[user]
	email = federico.santander@bci.cl
	name = Federico Santander
[core]
	editor = nvim
	excludesfile = /Users/$USER/.gitignore-global
	untrackedCache = true
[alias]
	co = checkout
	ci = commit
	st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
